#fejlapszoveg {
    color: black;
    position: fixed;
    border-color: black;
    border-width: 2px;
    border-style: outset;
    border-width: 2px;
    margin-left: 0px;
    background-color: lightblue;



  
}
td {
    padding: 20px 89px 30px
}
img {
    width: 100px;
    

}
#kep {
    padding-top: 100px;
    width: 100px;
}
p {
    padding-top: 200px;
    }
    
    #home1 {
        
    }