#fejlapszoveg {
    color: black;
    position: fixed;
    border-color: black;
    border-width: 2px;
    border-style: outset;
    border-width: 2px;
    margin-left: 0px;
    background-color: lightblue;
}
td {
    padding: 20px 20px 20px
}
img {
    width: 100px;
    

}
p{
    text-align: justify;
}
#kep {
    padding: 0px;
}#elolap{ padding-top: 100px;
width: 200px;
}
    
    


#elolapszoveg  { font-size: 100px; 
text-align: center;
 font-family: Arial, Helvetica, sans-serif ;
margin-bottom: 30px;}

.icongestaltung {
    background: url(http://www.iconsdb.com/icons/preview/orange/stackoverflow-6-xxl.png) center center no-repeat;
    background-size: contain;
  
    width: 150px;
    height: 150px;
  
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .icongestaltung:hover {
    background-image: url("http://www.iconsdb.com/icons/preview/gray/stackoverflow-xxl.png");
  }